In [1]:
import duckdb
import pandas as pd

In [ ]:
import os

# Correct usage of os.path.dirname and os.path.join
datadir = os.path.join(os.getcwd(), '..', 'data')

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

In [23]:
sql_query = '''
show tables
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2                     first_model
3         parking_violation_codes
4         parking_violations_2023
5                       ref_model
6  silver_parking_violation_codes
7       silver_parking_violations
8        silver_violation_tickets
9       silver_violation_vehicles

In [ ]:
sql_query = f'''
create or replace table parking_violation_codes as
select *
from read_csv_auto(
    '{datadir}/dof_parking_violation_codes.csv',
    normalize_names=True
)
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    con.sql(sql_query)

In [15]:
sql_query = f'''
create or replace table parking_violations_2023 as
select *
from read_csv_auto(
    '{datadir}/parking_violations_issued_fiscal_year_2023_sample.csv',
    normalize_names=True
)
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    con.sql(sql_query)

In [21]:
sql_query = '''
select * from bronze_parking_violation_codes
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

,violation_code,definition,manhattan_96th_st_below,all_other_areas
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,250,250
...,...,...,...,...
92,93,REMOVE/REPLACE FLAT TIRE,65,65
93,96,RAILROAD CROSSING,95,95
94,97,VACANT LOT,65,45
95,98,OBSTRUCTING DRIVEWAY,95,95
96,99,OTHER,105,105