In [1]:
import duckdb
import pandas as pd

In [ ]:
import os

# Correct usage of os.path.dirname and os.path.join
datadir = os.path.join(os.getcwd(), '..', 'data')

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

In [18]:
sql_query = '''
show tables
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0              first_model
1  parking_violation_codes
2  parking_violations_2023

In [ ]:
sql_query = f'''
create or replace table parking_violation_codes as
select *
from read_csv_auto(
    '{datadir}/dof_parking_violation_codes.csv',
    normalize_names=True
)
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    con.sql(sql_query)

In [15]:
sql_query = f'''
create or replace table parking_violations_2023 as
select *
from read_csv_auto(
    '{datadir}/parking_violations_issued_fiscal_year_2023_sample.csv',
    normalize_names=True
)
'''

with duckdb.connect(datadir+'/nyc_parking_violations.db') as con:
    con.sql(sql_query)